### Fichiers et dossiers généraux de Java ###
*.class
# Packages produits
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.log
*.lock
*.sql
# Dossier de compilation de Spring Boot
/backend/target/

### IDEs et Système d'Exploitation ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
# Eclipse
.classpath
.project
.settings/
# macOS
.DS_Store
# Windows
Thumbs.db